<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Visit Cambridge Ltd</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if false -%}
              {%- if site.author -%}
                {{ site.author | escape }}
              {%- else -%}
                {{ site.title | escape }}
              {%- endif -%}
            {%- endif -%}  
            </li>
            <li><a class="u-email primary-color" href="/privacy">Privacy</a></li>
            <li><a class="u-email primary-color" href="/terms">Terms and conditions</a></li>
            {%- if site.email -%}
              <li><a class="u-email primary-color" href="mailto:{{ site.email }}">Contact us</a></li>
            {%- endif -%}            
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p id="footer-description">{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

  <div style="width:100%; height: 120px;"></div>

</footer>
