@font-face {
    font-family: 'Times';
    src: url('fonts/Times.woff2') format('woff2'),
         url('fonts/Times.woff') format('woff'),
         url('fonts/Times.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$font-color: #000000;
$font-secondary-color: #906D52;
$primary-color: #043F9F;
$secondary-color: #8CB9AD;
$tertiary-color: #FCDB0F;

::selection {
  background: #FFEFD9;
}

::-moz-selection {
  background: #FFEFD9;
}

html, body {
	overflow-x: hidden;
}

.loading {
	position: relative;
	z-index: -1;
}

.loading h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.post-header {
	margin-top: 30px;
}

.page-content {	
	padding: 0 !important;
}

.primary-color {
	color: $primary-color;
}

.secondary-color {
	color: $secondary-color;
}

.tertiary-color {
	color: $tertiary-color;
}

#main-logo {
	max-width: 300px;
	height: 60px;
}

.site-nav {
	line-height: 60px;
}

.site-nav .page-link:not(:last-child) {
    margin-right: 40px;
}

.site-nav .page-link {
	color: #906D52;
	cursor: pointer;
}

.site-header {
	border-top: 0px;
	border-bottom: 2px solid #F7E8DD;
}

.site-header .wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
}

h1, h2 {
	font-family: 'Times', Serif;
	margin: 0;
	color: $font-color;
}

h2 {
	font-size: 2.5rem;
	line-height: 5rem;
}

h3, #experts-header h2 {	
	font-family: 'Times', Serif;
	margin: 0;
	color: $font-color;
	font-size: 1.3rem;
	line-height: 1.5;
}

p, a {
	font-family: Arial, "Helvetica Neue", Helvetica, Sans-Serif;
	color: $font-color;
}

#mobile {
	display: none;
}

#tour-description p {
	margin-bottom: 20px;
}

#atf {
	display: flex;
	align-items: center;
    min-height: 63vh;
}

#atf-wrapper {
	position: relative;
	display: flex;
    justify-content: flex-start;
    align-items: center;
}

#atf-copy {
	padding-left: 0;
	padding-right: 40px;
}

#bridge-of-sighs {
	position: relative;
	right: -40px
}

#rc {
	position: absolute;
	left: -470px;
}

#kcc {
	position: absolute;
	right: -470px;
	top: 0;
}

#max {
	max-width: 350px;
	width: 350px;
}

.bokunWidget {
	margin: 0 -4px 0 -4px;
}

#main-title {
	font-size: 4rem;
	line-height: 4rem;
    margin-top: 40px;
}

#key-messaging-container {
	padding: 0 0 40px 0;
}

#sticky-footer {
	position: fixed;
    width: 100%;
	height: 90px;
	bottom: -100px;
	background-color: #FBF3ED;
	z-index: 1000;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	transition: bottom 0.2s ease-in-out;
}

#sticky-footer-content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 15px;
}

#sticky-footer-content-copy {
	margin-left: 20px;
	min-width: 0;
}

#sticky-footer-content .p1, #sticky-footer-content .p2 {
	margin-bottom: 0;
	line-height: 1.7em;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.show-footer {
	bottom: 0px !important;
	transition: bottom 0.2s ease-in-out;
}

.key-messaging  {
	font-size: 2.9rem;
	line-height: 3.8rem;
	color: $font-color;
	margin: 0;
	font-family: 'Times', Serif;
}

.button-anchor, .button-anchor:hover, .button-anchor:active {
	text-decoration: none !important;
}

.description {
	margin-bottom: 20px;
}

.button {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	background-color: $primary-color;
	text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
	font-family: "Arial", Sans-Serif;
	font-size: 1.3rem;
	color: white;
	width: 200px;
	height: 70px;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 20px;
	transition: all 0.3s ease-in-out;
	&:hover {
        background-color: $secondary-color;
        top: -1px;
    }
    &:active {
        background-color: $tertiary-color;
    }
}

.button::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(140, 185, 173, 0.6);
  transition: opacity 0.3s ease-in-out;
}

.button:hover::after {
  opacity: 1;
}

.button:active::after {
  opacity: 0;
}

.button::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(255, 219, 15, 0.6);
  transition: opacity 0.3s ease-in-out;
}

.button:active::before {
  opacity: 1;
}

.secondary_button {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	background-color: $primary-color;
	text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
	font-family: "Arial", Sans-Serif;
	font-size: 1.3rem;
	color: white;
	width: 150px;
	height: 60px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	&:hover {
        background-color: $secondary-color;
        top: -1px;
    }
    &:active {
        background-color: $tertiary-color;
    }
}

.secondary_button::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(140, 185, 173, 0.6);
  transition: opacity 0.3s ease-in-out;
}

.secondary_button:hover::after {
  opacity: 1;
}

.secondary_button:active::after {
  opacity: 0;
}

.secondary_button::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(255, 219, 15, 0.6);
  transition: opacity 0.3s ease-in-out;
}

.secondary_button:active::before {
  opacity: 1;
}

#experts-container {
    display: flex;
    flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	min-height: 20vh;
	padding: 0 0 5vh 0;
}

#experts-header {
	border-bottom: 2px solid #F7E8DD;
	width: 100%;
}

.iotg {
	width: 170px;
}

.vc-grey {
	height: 90px;
	position: relative;
	top: 2px;
}

#forward {
	margin-top: 13px;
}

#stride, #clearscore {
	width: 100px;
}

#next-up-container, #guides-container {
	margin: 80px 0 40px 0;
}

#previously-container {
	margin: 30px 0 60px 0;
}

#next-up, #guides, .previously {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.previously {
	margin-bottom: 32px;

}

.previously:last-of-type {
	margin-bottom: 0;

}

#next-up-header, #guides-header, #previously-header {
	width: 100%;
}

#next-up-header h2, #guides-container h2, .explainer-container h2 {
	font-size: 3rem !important;
	margin-bottom: 1rem;
}

.profile-image {
	width: 400px;
	max-width: 400px;
	border-radius: 5px;
	
}

.profile {
	padding: 0 40px 0 0;
}

.name, .date {
	font-size: 1.4rem;
}

#quote-container {
	position: relative;
    display: flex;
    flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	min-height: 20vh;
	left: -42px;
	width: calc(100% + 42px);
	margin-bottom: 60px;
	padding: 20px 0;
}

#quotes-header {
	position: relative;
	border-bottom: 2px solid #F7E8DD;
	width: calc(100% - 42px);
	left: 42px;
	margin-bottom: 16px;
}

.quote {
	position: relative;
	width: 200px;
	font-size: 1.1rem;
	padding: 0 16px 0 42px;
}

.big-quote {
	position: relative;
	width: 100%;
	font-size: 1.1rem;
	padding: 0 0 0 42px;
	left: -42px;
}

.quote p, .big-quote p {	
	color: $font-secondary-color;
}

#quote-2 {	
	width: 200px;
}

.quote::before, .big-quote::before{
	font-family: ProximaNova-Reg; 
  	content: "\201C";
  	color: $font-secondary-color;
  	font-size: 4rem;
  	position: absolute;
  	left: 0px;
  	top: -20px;
}

.quote::after{
  content: '';
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.explainer-container {
	margin-bottom: 32px;
}

.site-footer {
	background: #F7E8DD;
}

@media (min-width: 481px) and (max-width: 767px)  {

	.quote, #quote-2 {
		left: 42px;
		width: calc(100% - 84px);
	}

	.big-quote {
		left: 0;
		width: calc(100% - 84px);
	}

	#quotes-header {
		margin-bottom: 16px;
	}

	#quote-container {
		margin-bottom: 20px;
	}

	#atf-copy {
		width: 300px;
	}

}

@media (max-width: 767px)  {

	#next-up, #guides, .previously {
		flex-wrap: wrap;
	}

	.profile {
		padding: 16px 0 0 0;
	}

	#rc, #kcc {
		display: none;
	}
	
}

@media (max-width: 480px)  {

	#sticky-footer-content .p1 {
		height: 3.4em;
	    white-space: normal;
	}


	#sticky-footer-content .p2 {
		display: none;
	}

	#mobile {
		display: block;
		width: 100%;
	}

	#key-messaging-container {
		padding: 15px 0;
	}

	#covid {
		margin: 15px 0;
		font-size: 0.9rem;
	} 

	.button {
		display: none;
	}

	#max {
		width: 100%;
	}

	.site-nav {
		display: none;
	}

	#footer-description {
		font-size: 1rem;
	}

	.site-nav .page-link:not(:last-child) {
		margin-right: 0;
	}

	#atf-copy {
		padding-right: 0;
		width: 100%;
	}

	#atf-images {
		display: none;
	}

	#experts-container {
		margin-bottom: 40px;
	}


	#next-up-header h2, #guides-container h2, .explainer-container h2 {
		line-height: 3.8rem;
	}

	.vc-grey {
		display: none;
	}

	.key-messaging {
		font-size: 2.4rem;
		line-height: 3rem;
	}

	h3 {
		font-size: 1.2rem;
	}


	#next-up-container, #guides-container, #previously-container {
		margin: 0 0 60px 0;
	}

	.quote, #quote-2 {
		left: 42px;
		width: calc(100% - 84px);
	}

	.big-quote {
		left: 0;
		width: calc(100% - 84px);
	}

	#quotes-header, #experts-header {
		margin-bottom: 16px;
	}

	#quote-container {
		margin-bottom: 20px;
	}

	p {
		font-size: 1.1rem;
	}

	.iotg {
		width: 130px;
	}

	#forward {
		margin-top: 13px;
	}

	#stride, #clearscore {
		width: 75px;
	}

	.iotg {
		padding: 0 40px 0 0;
	}

	#stride, #clearscore {
		padding: 0 40px;
	}

	.button::after, .secondary_button::after, .button::before, .secondary_button::before {
		display: none;
	}

}

@media (max-width: 320px)  {

	.key-messaging, h3 {
		font-size: 1.2rem;
		line-height: 2rem;
	}

	.button {
		height: 70px;
	}

	.big-quote {
		width: calc(100% - 48px);
	}

	#stride, #clearscore {
		padding: 0;
	}

}