<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- if true -%}  
      {%- include header.html -%}
    {%- endif -%}  

    <div id="sticky-footer">
      <div id="sticky-footer-content" class="wrapper">
        {% include secondary_button.html url="https://airtable.com/shrKMvV2iBd4rwRSv" %}
        <div id="sticky-footer-content-copy">
          <p>Next up: 20th August 2020</p>
          <p>Avid Larizadeh Duggan OBE, Entrepreneur and Investor</p>
        </div>
      </div>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    
    {%- if true -%}  
      {%- include footer.html -%}
    {%- endif -%}    

  </body>

</html>
