<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- if true -%}  
      {%- include header.html -%}
    {%- endif -%}  

    <div id="sticky-footer">
      <div id="sticky-footer-content" class="wrapper">
        {% include secondary_button.html url="https://airtable.com/shrKMvV2iBd4rwRSv" %}
        <div id="sticky-footer-content-copy">
          <p class="p1">Discover the best of Cambridge</p>
          <p class="p2">See its unmissable sights with award-winning guides</p>
        </div>
      </div>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    
    {%- if true -%}  
      {%- include footer.html -%}
    {%- endif -%}    

  </body>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var url_path = window.location.pathname;
      if (url_path.includes("/accommodation")){
        var header_link = document.getElementById("header-accommodation");
        header_link.classList.add("bold");
      } else if (url_path.includes("/tours")){
        var header_link = document.getElementById("header-tours");
        header_link.classList.add("bold");
      } else if (url_path.includes("/feed")){
        var header_link = document.getElementById("header-news");
        header_link.classList.add("bold");
      } else if (url_path.includes("/about")){
        var header_link = document.getElementById("header-about");
        header_link.classList.add("bold");
      } else if (url_path.includes("/restaurants")){
        var header_link = document.getElementById("header-restaurant");
        header_link.classList.add("bold");
      } else if (url_path="/"){
        var header_link = document.getElementById("header-home");
        header_link.classList.add("bold");
      } else {
        return null
      };

    }, false);
  </script>

</html>
