---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="page-heading p-name" itemprop="name headline" style="margin-bottom: 0;">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  {%- if page.image_url -%}
    <div class="post-image-container">
      <div class="post-image">
        <img src="{{ page.image_url }}" loading="eager" alt="News and articles | {{ page.title | escape }}" title="News and articles | {{ page.title | escape }}">
        {%- if page.photographer -%}
          <a class="post-image-author" href="{{ page.photographer_url }}" target="_blank">Photo by {{ page.photographer }}</a>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
